# Flutter/Dart/Pub/Pak
.dart_tool/
.packages
.pub-cache/
.build/
.idea/
.vscode/
flutter_export_environment.sh

# Flutter build
build/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig

# Android
android/.gradle/
android/local.properties

# macOS
macos/Flutter/ephemeral/

# web build
web/.dart_tool/

# misc
*.log
*.lock
*.tmp
